@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}


// button
.btn-outline{
    margin: 10px 0;
    border: 1px solid #262a34;
    border-radius: 0px;
    color: #262a34;
}
.btn-primary{
    margin: 10px 0;
    background: #262a34;
    border: 1px solid #262a34;
    border-radius: 0px;
    color: #fff;
    &:hover{
        background: transparent;
        border: 1px solid #262a34;
        color: #262a34;
    }
    &:focus{
        background: transparent;
        border-color: transparent;
        box-shadow: none;
    }
}


// block
.block{
    padding: 15px;
    margin: 15px;
}
header{
    position: absolute;
    width: 100%;
    z-index: 1;

    nav{
        .navbar-nav{
            li{
                a{
                    color: #262a34;
                    &:hover{
                        color: #262a34;
                    }
                    &:focus{
                        color: #262a34;
                    }
                }
                &.dropdown{
                    &:hover{
                        .dropdown-menu{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}


// banner part
main{
    &.banner-image{
        position: relative;
        background-image: url('../images/banner.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
    }
    .banner-left-image{
        position: absolute;
        bottom: 0;
        left: 20%;
        img{
            height: 450px;
        }
    }
    .banner-right-content{
        position: absolute;
        top: 40%;
        right: 20%;
        h3{
            font-size: 82px;
        }
        h4{
            font-size: 43px;
            .typing{
                color: #fff;
            }
            .typed-cursor{
                color: #fff;
            }
        }
    }
}
 
// What I know
.what-I-know{
    .block{
        &.heading{
            h3{
                font-size: 50px;
                font-weight: bolder;
                text-align: center;
                color: #000;
                text-transform: uppercase;
            }
            h4{
                font-size: 16px;
                font-weight: 300;
                color: #969595;
                text-align: center;
            }
        }
    }
}