@import './bootstarp/bootstrap';
@import './fontawsome/_fontawesome';
@import './fontawsome/_brands';
@import './fontawsome/_solid';
@import './fontawsome/_v4-shims';

*{
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background-color: #000; 
    color: #fff;
}
header{
    .navbar{
        box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
        .navbar-brand{
            @include media-breakpoint-down(sm){
                max-width: 70%;
            }
            img{
                max-width: 30%;
            }
        }
        .navbar-toggler{
            border-color: transparent!important;
            &:focus{
                border-color: transparent!important;
                box-shadow: none;
                font-size: 25px;
            }
        }
        .nav-link{
            text-align: center;
        }
    }
}
main{
    
    height: 100vh;
}
.block{
    padding: 15px;
    margin: 15px;
    &.profile-card{
        @include media-breakpoint-down(sm){
            margin: 10px 0 0 0;
            padding: 0;
        }
        .profile-image {
            text-align: end;
            @include media-breakpoint-down(sm){
                text-align: center;
            }
            img{
                width: 70%;
                border-radius: 20px;
                box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
            }
        }
    }
    &.profile-container{
        .profile-content{
            padding: 20px;
            border-radius: 20px;
            background-image: linear-gradient(to right, #bdc3c7 , #2c3e50, #eecda3, #ef629f);
            background-size: 240%;
            background-position: left;
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
            // transition-property: all;
            // transition-duration: 0.5s;
            cursor: pointer;
            transition: background-position 5s;

            .social-links{
                display: flex;
                justify-content: start;
                a{
                    margin: 10px;
                    color: #cccaca;
                    transition: all 400ms;
                    i{
                        font-size: 30px;
                    }
                }
                .facebook{
                    a{
                        &:hover{
                            color: #0F8EF2;
                        }
                    }
                }
                .linkedin{
                    a{
                        &:hover{
                            color: #0A66C2;
                        }
                    }
                }
                .github{
                    a{
                        &:hover{
                            color: #161B22;
                        }
                    }
                }
            }
            &:hover{
                background-position: right;
                a{
                    color: #a1a1a1;
                }
            }
        }
    }
    &.address{
        h3{
            padding: 10px;
        }
        ul{
            li{
                padding: 10px;
                a{
                    color: #fff;
                    span{
                        margin-left: 10px;
                    }
                    &:hover{
                        color: #a1a1a1;
                    }
                }
            }
        }
    }
}